.btn1 {
    border-radius: 2rem;
    width: 80%;
}
i {
    width: 30px;
}
.nav-link.active, .nav-pills .show > .nav-link {
    background-color: blue;
    color: red !important;
    border-radius: 0;
    border: 3px solid;
    padding-bottom: 2px;
    
  }
  .nav-link {
    margin-bottom: 25px !important;
    color: blue !important;
    border: 3px solid blue !important;   
  }
  .nav-tabs .nav-link{
    border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
  }
  .nav-tabs .nav-link.active {
    border: 6px solid #9f8148 !important;
  }
  .ngb-title{
      color: red;
  }

  ngb-tabset {
      height: 200px;
  }
  .nav-fill .nav-link.active {
    margin-top: -1px;
    border-top: 2px solid #20a8d8;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #20a8d8;
}