<div class="text-center mt-5">
    <div class="row mt-3">
        <div class="col-lg-6">
    <div class="card custom-box-shadow w-100">
        <div class="card-body">
    <apx-chart 
    [series]="bucketChartOptions?.series"
    [chart]="bucketChartOptions?.chart"
    [title]="bucketChartOptions?.title"
    [colors]="bucketChartOptions?.colors"
    [xaxis]="bucketChartOptions?.xaxis"
   
   
    ></apx-chart>
</div>
</div>
</div>
<div class="col-lg-6">
    <div class="card custom-box-shadow w-100">
        <div class="card-body">
    <apx-chart 
    [series]="approvedChartOptions?.series"
    [chart]="approvedChartOptions?.chart"
    [title]="approvedChartOptions?.title"
    [colors]="approvedChartOptions?.colors"
    [xaxis]="approvedChartOptions?.xaxis"
   
   
    ></apx-chart>
</div>
</div>
</div>
</div>
</div>
