<div class="main-wrapper w-100 custom-box-shadow ">
    <div class="custom-box-shadow bg-light border pl-5 pr-5 ">
<div class="row mt-3">
    <div class="col-lg-6">
        <div class="row">
        <div class="col-lg-4">
            <a router="/" routerLinkActive="active">Unstitched Fabrics</a><br>
            <a router ="/" routerLinkActive="active">Ready to Wear</a><br>
            <a router ="/" routerLinkActive="active">Kids</a><br>
            <a router ="/" routerLinkActive="active">Weading Wear</a>
        </div>
        <div class="col-lg-4">
            <a router="/" routerLinkActive="active">Returns and Exchange</a><br>
            <a router ="/" routerLinkActive="active">Privacy Policy</a><br>
            <a router ="/" routerLinkActive="active">FAQs</a><br>
            <a router ="/" routerLinkActive="active">Size Guide</a>
        </div>
        <div class="col-lg-4">
            <a router="/" routerLinkActive="active">About Murk's Fashion</a><br>
            <a router ="/" routerLinkActive="active">Contact Us</a><br>
            <a router ="/" routerLinkActive="active">Store Locator</a><br>
            <a router ="/" routerLinkActive="active">Careers</a>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
        <h5 class="text-right">Sign Up For our Newsletter</h5>
        <div class="input-group">
        <input type="text" placeholder="Enter Your Email" class="form-control">
        <button type="submit" class="btn btn-danger">Subsrcribe</button> 
    </div>
    </div>
</div>
<div class="footer-span mt-5 d-flex border-bottom">
   <span>
        <i class="fas fa-phone"></i></span>
        <span class="ml-2"><a href="tel:+92 333 9985890">+92 333 9985890</a></span>

<span class="ml-5"><i class="material-icons">email</i></span>
    <span class="ml-2">  <a href="mailto:murk.hassan@outlook.com">murk.hassan@outlook.com</a></span>

    <span style="margin-left: 30%;"><i class="fab fa-facebook-f"></i></span>
    <span class="ml-2" ><a href="https://www.facebook.com/">Facebook</a></span>
    <span class="ml-5"><i class="fab fa-instagram"></i></span>
    <span class="ml-2"><a href="https://www.instagram.com/">Instagram</a></span>
    <span class="ml-5"><i class="fab fa-twitter"></i></span>
    <span class="ml-2"><a href="https://www.twitter.com/">Twitter</a></span>
    </div>

    <span class="d-flex mt-2" style="font-size: smaller">Murk's fashionata   | <p style="font-size:x-small;" class="ml-3"> All rights reserved @ 2020</p>
    <p class="text-right" style="margin-left: 70%;">Powered by shoptism</p>
    </span>
  
</div>