
<div class="text-center mt-5">
            <div class="card custom-box-shadow w-100 ">
                <div class="card-body">
                    <apx-chart
                    [series]="chartOptionsUsers?.series"
                    [chart]="chartOptionsUsers?.chart"
                    [title]="chartOptionsUsers?.title"
                    [colors]="chartOptionsUsers?.colors"
                    [legend]="chartOptionsUsers?.legend"
                    [xaxis]="chartOptionsUsers?.xaxis"
                    [yaxis]="chartOptionsUsers?.yaxis"
                    [dataLabels]="commonOptions?.dataLabels"
                    [markers]="commonOptions?.markers"
                    [stroke]="commonOptions?.stroke"
                    [grid]="commonOptions?.grid"  
                   
                    [tooltip]="commonOptions?.tooltip"
                     [responsive]="commonOptions?.responsive"
                    ></apx-chart>

                   
                    
             
            </div>
        </div>
</div>
       

   
                
    
        
        <!-- <apx-chart
        [series]="chartOptionsUsersPie.series"
        [chart]="chartOptionsUsersPie.chart"
        
        ></apx-chart> -->
    
