
<header id="header" class="main-sub--header full-width header d-flex justify-content-between p-sm-0">
    <div class="user--info d-flex align-items-center justify-content-end">
        <ul class="user-actions--list d-flex align-items-center justify-content-end">
            <li class="pr-0" *ngIf="role === 'Admin'">
                <a href="javascript:void(0)" class="">
                  <i class="fa fa-users"></i>
                  <span class="notification d-flex align-items-center justify-content-center">{{allUsers}}</span>
                </a>
                <div class="users-notification--section">
                  <div class="head d-flex align-items-center justify-content-between">
                    <span>Notification</span>
                    <a href="javascript:void(0)" class="text-primary font-weight-bold">Mark All as read</a>
                  </div>
                  <ul class="notification-list list-unstyled" *ngIf="false">
                       <li class="d-flex align-items-center justify-content-between"></li>
                     <li class="d-flex align-items-center justify-content-between">
                                <div class="leftCol d-flex align-items-center">
                                  <div class="icon-holder">
                                        <img class="img-fluid" src="assets/images/team-img002.png" alt="">
                                  </div>
                                  <div class="notification-info">
                                    <h6 class="mb-0">Usman Raja</h6>
                                    <p class="m-0">Wages of Labors are due soon.</p>
                                  </div>
                                </div>
                                <div class="rightCol text-right">
                                  <span class="time d-block">15 mins ago</span>
                                  <a href="javascript:void(0)" class="more-options"><span></span></a>
                                </div>
                              </li>
                      <li class="d-flex align-items-center justify-content-between">
                          <div class="leftCol d-flex align-items-center">
                            <div class="icon-holder">
                                  <img class="img-fluid" src="assets/images/team-img002.png" alt="">
                            </div>
                            <div class="notification-info">
                              <h6 class="mb-0">Ali</h6>
                              <p class="m-0">Heat warning in Shed 1.</p>
                            </div>
                          </div>
                          <div class="rightCol text-right">
                            <span class="time d-block">15 mins ago</span>
                            <a href="javascript:void(0)" class="more-options"><span></span></a>
                          </div>
                        </li>
                  </ul>
                </div>
        
        
              </li>
              <li class="position-relative p-0">
                <div class="container-menu">
                  <!-- Btn-->
                  <button class="btn custom-dropdown ml-3">
                  <span class="d-flex justify-content-end"><img src="assets/images/user-icon-image.png" alt="" class="user-icon m-0 rounded-circle d-block drowndown"></span><i class="fa-arrow-down"></i>
                    <ul class="dropdown list-unstyled">
                      <li class="text-center"><a href="javascript:void(0)" style="border-bottom: none">{{ userInfo?.firstName }}</a></li>
                      <li class="text-center"><a href="javascript:void(0)" class="p-0"><b>{{ userInfo?.role }}</b></a></li>
                      <li class="text-center" routerLink="/admin/user-profile"><a href="javascript:void(0)" class="p-0"><b>Profile</b></a></li>
                      <li class="text-center"><a href="javascript:void(0)" (click)="clickHandler.emit($event)">Log Out</a></li>
                    </ul>
                  </button>
                </div>
               </li>
        </ul>
    </div>

</header>

